:root {

    // Code Highlight
    --vp-code-highlight-base-icon: url('horizon-theme/assets/imgs/res/icon/tdesign_code.svg');
    --vp-code-highlight-warning-icon: url('horizon-theme/assets/imgs/res/icon/tdesign_error_triangle.svg');
    --vp-code-highlight-error-icon: url('horizon-theme/assets/imgs/res/icon/tdesign_system_blocked.svg');
}