:root {
  --vp-c-brand-1: #2da2f1;
  --vp-c-brand-2: #5ccbf0;
  --vp-c-brand-3: #323232;
  --vp-c-brand-soft: rgba(65, 209, 255, 0.12);

  --vp-home-hero-name-background: linear-gradient(120deg, #bd34fe 30%, #41d1ff 70%);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
}