:root {
  --vp-c-brand-1: #ff8345;
  --vp-c-brand-2: #ffa748;
  --vp-c-brand-3: #282828;
  --vp-c-brand-soft: rgba(65, 209, 255, 0.12);
  --vp-c-border: rgba(127, 127, 127, 0.12);
  --vp-c-divider: #e0e0e0;
  --vp-c-gutter: #e0e0e0;

  --vp-home-hero-name-background: linear-gradient(120deg, #bd34fe 30%, #41d1ff 70%);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  // horizon-decotor-bar
  --horizon-transition-bar-color-1: #4FC3F7;
  --horizon-transition-bar-color-2: #FF9800;
  --horizon-transition-bar-color-3: #FFDB67;

  --vp-c-red-soft: rgb(244, 63, 94, 0.25);
  --vp-c-yellow-soft: rgb(234, 179, 8, 0.25);
  --vp-c-green-soft: rgb(16, 185, 129, 0.25);
  --vp-c-purple-soft: rgb(159, 122, 234, 0.25);
  --vp-c-indigo-soft: rgb(100, 108, 255, 0.25);
  --vp-c-gray-soft: rgb(142, 150, 170, 0.25);
}

:root[class='dark'] {
  --vp-c-border: rgba(127, 127, 127, 0.12);
  --vp-c-divider: #444444;
  --vp-c-gutter: #444444;
  --vp-c-red-soft: rgb(244, 63, 94, 0.25);
  --vp-c-yellow-soft: rgb(234, 179, 8, 0.25);
  --vp-c-green-soft: rgb(16, 185, 129, 0.25);
  --vp-c-purple-soft: rgb(159, 122, 234, 0.25);
  --vp-c-indigo-soft: rgb(100, 108, 255, 0.25);
  --vp-c-gray-soft: rgb(101, 117, 133, 0.25);
}