@use '../../mixins/'as HorizonMixins;

@mixin code-line-numbers-wrapper ($padding-top: 1.5rem, $background-color: var(--vp-c-brand-3)) {
  padding-top: $padding-top;
  background-color: $background-color;
  z-index: 0;
  border: 0;

  &::after {
    content: '';
    position: absolute;
    top: $padding-top;
    right: 0;
    height: calc(100% - $padding-top);
    // 可选：添加右侧竖线
    //border-right: 1px solid var(--vp-code-block-divider-color);
  }
}

@mixin code-lang-horizon-decorator () {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 4rem;
    z-index: 1;
    display: block;
    width: 4rem;
    height: 0.2rem;
    background-color: var(--horizon-transition-bar-color-1);
    border-radius: 0;
    box-shadow:
      2rem 0 0 var(--horizon-transition-bar-color-2),
      4rem 0 0 var(--horizon-transition-bar-color-3);
  }

  &::after {
    content: var(--vp-code-lang-horizon-decorator-text);
    position: absolute;
    display: flex;
    opacity: 0.8;
    top: 0;
    right: 0;
    padding: 0 0.45rem;
    align-items: center;
    justify-content: center;
    min-width: 8rem;
    border-radius: 0;
    color: var(--vp-c-text-1);
    background-color: var(--vp-code-lang-horizon-decorator-bg-color);
  }
}

/* 代码块 */
.vp-doc *:not(.vp-code-block-title):not(.blocks)>div[class*='language-'],
.vp-doc .vp-code-block-title .vp-code-block-title-bar {
  //padding-top: 20px;
  overflow: hidden;
  //margin: 0 0.25rem;

  @include code-lang-horizon-decorator();

  .line-numbers-wrapper {
    @include code-line-numbers-wrapper();
  }
}

/* 适配多文件代码块 */
.vp-doc {

  [class*='language-'] {
    >span.lang {
      position: absolute;
      background-color: var(--vp-code-lang-lang-base-bg-color);
      top: 0rem;
      padding: 0 10px;
      padding-left: 2.5rem;
      left: 0;
      z-index: 2;
      font-size: 1rem;
      font-weight: 500;
      max-width: calc(100% - 8rem);
      user-select: none;
      text-transform: uppercase;
      color: var(--vp-code-lang-color);
      transition: color 0.4s, opacity 0.4s;
      overflow: hidden;

      // SVG 背景
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 2rem;
        height: 2rem;
        z-index: 0;
        background-color: var(--vp-code-lang-icon-base-bg-color);
      }

      // SVG 图标（可调色）
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0.4rem;
        transform: translateY(-50%);
        width: 1.2em;
        height: 1.2em;
        z-index: 2;
        background-color: var(--vp-code-lang-color); // 图标颜色，可调整
        -webkit-mask-image: var(--vp-code-lang-icon);
        mask-image: var(--vp-code-lang-icon);
        mask-size: contain;
      }
    }
  }

  .vp-code-group {

    .tabs {
      border: 0;
      box-shadow: none;
      min-height: 3rem;
      background-color: var(--vp-code-group-tabs-bg-color);
      @include HorizonMixins.decorator-svg-background-overlay($z-index: 1, $image-url: 'horizon-theme/assets/imgs/res/arrow_layer_mask.svg', $opacity: 0.1, $size: 16px);

      &>label {
        padding-top: 0.4rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 1;
        font-size: var(--vp-code-group-tabs-label-font-size);
        line-height: var(--vp-code-group-tabs-label-font-size);

        &::after {
          top: 0;
          bottom: 0;
        }

      }

      &::after {
        content: var(--vp-code-group-tabs-horizon-decorator-text);
        position: absolute;
        opacity: 0.8;
        color: rgba(0, 0, 0, 0.8);
        font-size: clamp(1.2rem, 5vw, 3rem);
        font-weight: bold;
        top: 50%;
        left: 0;
        width: max-content;
        height: 100%;
        box-shadow:
          inset 80em 0 var(--horizon-transition-bar-color-3),
          3.5em 0 var(--horizon-transition-bar-color-2),
          12em 0 var(--horizon-transition-bar-color-1),
          28rem 0 var(--horizon-transition-bar-color-1);
      }
    }

    .blocks {
      .line-numbers-wrapper {
        @include code-line-numbers-wrapper();
      }

      &>div[class*='language-'] {
        @include code-lang-horizon-decorator();
      }
    }
  }
}